<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light ">
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <a class = "bull blue "></a>
              <li class="nav-item ">
                <a class="nav-link discover " href="/"> Discover<span class="sr-only">(current)</span></a>
              </li>
              <a class = "bull yellow"></a>

              <li class="nav-item">
                <a class="nav-link active create" href="#"> Create </a>
              </li>
              <a class = "bull red"></a>

              <li class="nav-item">
                <a class="nav-link profile" href="/profile"> Profile</a>
              </li>
             
            </ul>
          </div>
          <div class="logo-section">
            <a class="navbar-brand" href="/">TeamHub</a>
            <img align ="right" src="/images/logo.svg"/>

        </div>
      </nav>

      <div class="mid-section title">
          <h3>Start a <span class="red go">team.</span></h3>
          <h3>Start a <span class="blue go">project.</h3>
      </div>

      <div class = "background-container">
        <img style ="position: absolute" src="/images/rocket.svg"> 
        <img style ="position: absolute; object-fit: cover;" src="/images/stars.svg"> 
        <img style ="position: relative; margin-left: 630px; object-fit: cover;" src="/images/stars.svg"> 
        <img class="go" style ="position: absolute; top: 63%; left: 60%; z-index: 3; "src="/images/go.png">
      </div>

    </div>
  </body>
  <footer>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="/javascripts/create.js"></script>
  </footer>
</html>
